<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>BankingApplication</display-name>
	<filter>
		<description>
		</description>
		<display-name>RegisterFilter</display-name>
		<filter-name>RegisterFilter</filter-name>
		<filter-class>com.ncs.controller.RegisterFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>ChangePasswordFilter</display-name>
		<filter-name>ChangePasswordFilter</filter-name>
		<filter-class>com.ncs.controller.ChangePasswordFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>LoginController</display-name>
		<filter-name>LoginController</filter-name>
		<filter-class>com.ncs.controller.LoginController</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RegisterFilter</filter-name>
		<url-pattern>/RegisterFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RegisterFilter</filter-name>
		<servlet-name>AddCustomer</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ChangePasswordFilter</filter-name>
		<url-pattern>/ChangePasswordFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ChangePasswordFilter</filter-name>
		<servlet-name>ChangePassword</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginController</filter-name>
		<url-pattern>/LoginController</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginController</filter-name>
		<servlet-name>AdminLogout</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginController</filter-name>
		<servlet-name>AdminUpdateLoanStatus</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginController</filter-name>
		<servlet-name>AdminViewLoanApplications</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginController</filter-name>
		<servlet-name>AdminViewRegiseredCustomers</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginController</filter-name>
		<servlet-name>ChangePassword</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginController</filter-name>
		<servlet-name>CheckBalance</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginController</filter-name>
		<servlet-name>CustomerLogin</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginController</filter-name>
		<servlet-name>LoanApplication</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginController</filter-name>
		<servlet-name>TransactionList</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginController</filter-name>
		<servlet-name>TransferMoney</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginController</filter-name>
		<servlet-name>TransferMoney_GetUserListToDisplay</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<servlet>
		<description>
		</description>
		<display-name>CustomerLogin</display-name>
		<servlet-name>CustomerLogin</servlet-name>
		<servlet-class>com.ncs.controller.CustomerLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddCustomer</display-name>
		<servlet-name>AddCustomer</servlet-name>
		<servlet-class>com.ncs.controller.AddCustomer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.ncs.controller.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePassword</display-name>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>com.ncs.controller.ChangePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckBalance</display-name>
		<servlet-name>CheckBalance</servlet-name>
		<servlet-class>com.ncs.controller.CheckBalance</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoanApplication</display-name>
		<servlet-name>LoanApplication</servlet-name>
		<servlet-class>com.ncs.controller.LoanApplication</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TransactionList</display-name>
		<servlet-name>TransactionList</servlet-name>
		<servlet-class>com.ncs.controller.TransactionList</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogin</display-name>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.ncs.controller.AdminLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminViewRegiseredCustomers</display-name>
		<servlet-name>AdminViewRegiseredCustomers</servlet-name>
		<servlet-class>com.ncs.controller.AdminViewRegiseredCustomers</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminViewLoanApplications</display-name>
		<servlet-name>AdminViewLoanApplications</servlet-name>
		<servlet-class>com.ncs.controller.AdminViewLoanApplications</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.ncs.controller.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogout</display-name>
		<servlet-name>AdminLogout</servlet-name>
		<servlet-class>com.ncs.controller.AdminLogout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminUpdateLoanStatus</display-name>
		<servlet-name>AdminUpdateLoanStatus</servlet-name>
		<servlet-class>com.ncs.controller.AdminUpdateLoanStatus</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TransferMoney</display-name>
		<servlet-name>TransferMoney</servlet-name>
		<servlet-class>com.ncs.controller.TransferMoney</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TransferMoney_GetUserListToDisplay</display-name>
		<servlet-name>TransferMoney_GetUserListToDisplay</servlet-name>
		<servlet-class>com.ncs.controller.TransferMoney_GetUserListToDisplay</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgotPassword</display-name>
		<servlet-name>ForgotPassword</servlet-name>
		<servlet-class>com.ncs.controller.ForgotPassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Chart</display-name>
		<servlet-name>Chart</servlet-name>
		<servlet-class>com.ncs.controller.Chart</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RepayLoan</display-name>
		<servlet-name>RepayLoan</servlet-name>
		<servlet-class>com.ncs.controller.RepayLoan</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckBalance1</display-name>
		<servlet-name>CheckBalance1</servlet-name>
		<servlet-class>com.ncs.controller.CheckBalance1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerLogin</servlet-name>
		<url-pattern>/CustomerLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCustomer</servlet-name>
		<url-pattern>/AddCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckBalance</servlet-name>
		<url-pattern>/CheckBalance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoanApplication</servlet-name>
		<url-pattern>/LoanApplication</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransactionList</servlet-name>
		<url-pattern>/TransactionList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminViewRegiseredCustomers</servlet-name>
		<url-pattern>/AdminViewRegiseredCustomers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminViewLoanApplications</servlet-name>
		<url-pattern>/AdminViewLoanApplications</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogout</servlet-name>
		<url-pattern>/AdminLogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminUpdateLoanStatus</servlet-name>
		<url-pattern>/AdminUpdateLoanStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferMoney</servlet-name>
		<url-pattern>/TransferMoney</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferMoney_GetUserListToDisplay</servlet-name>
		<url-pattern>/TransferMoney_GetUserListToDisplay</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPassword</servlet-name>
		<url-pattern>/ForgotPassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Chart</servlet-name>
		<url-pattern>/Chart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RepayLoan</servlet-name>
		<url-pattern>/RepayLoan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckBalance1</servlet-name>
		<url-pattern>/CheckBalance1</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
